*{
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-weight: 600;
    font-family: "Open Sans", sans-serif;
}

body{
    background-color:#f9f9f9;
}

.btn-voltar a{
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: bold;
    transition: all 0.3s ease;
    background-color: #b90808; /* Verde */
    color: #fff;
}

.login-container{
    background-color: #b90808;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 80px;
    border-radius: 5px;
    color: #fff;
}

.login-container h1{
   margin-bottom: 20px;
}

.login-container a{
    color: #fff;
 }

input{
    padding: 15px;
    border: none;
    outline: none;
    font-size: 15px;
    width: 100%;
}

