* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f9f9f9;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  height: 100%;
  margin: 0;
  padding: 0;
}

header {
  background-color: #9b2a2a;
  color: white;
  padding: 15px 30px;
  font-size: 20px;
  font-weight: bold;
}

.botao-link {
  color: white;
  text-decoration: none;
  font-size: 24px;
}

.main-container {
  display: flex;
  align-items: flex-start;
  /* Alinha os itens no topo */
  min-height: 100vh;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}


.main-container {
  display: flex;
  height: 100vh;
  /* Garante que o container ocupe toda a tela */
}

.sidebar {
  width: 250px;
  background-color: #d9d9d9;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  /* Garante que a sidebar acompanhe o container */
}



.user-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}

.user-info i {
  font-size: 30px;
  color: #9b2a2a;
  margin-bottom: 10px;
}

.user-info input[type="text"] {
  border: none;
  background: transparent;
  text-align: center;
  font-weight: bold;
  color: #333;
  pointer-events: none;
}

.menu-btn {
  background-color: white;
  border: none;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 500;
  width: 100%;
  text-align: left;
  transition: 0.3s;
}

.menu-btn:hover,
.menu-btn.active {
  background-color: #9b2a2a;
  color: white;
}

.logout {
  background-color: white;
  border: none;
  padding: 10px;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background-color: #9b2a2a;
  color: white;
}

.main-content {
  flex: 1;
  padding: 20px;
}

.card {
  background-color: #9b2a2a;
  color: white;
  padding: 20px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
}

.hover :hover {
  
  transform: translateY(-3px);
}

.estatisticas {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
}

canvas {
  width: 600%;
  height: 400px !important;
  /* Altura reduzida */
  margin: 10px 0;
}